@page
@using Models
@model DetailsModel
@{
    ViewData["Title"] = "Lien Detail";
}

<div class="text-center">

    <h1 class="display-4">Lien Sample</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Lien.Id" class="control-label"></label>
                    <input asp-for="Lien.Id" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Lien.Company" class="control-label"></label>
                    <input asp-for="Lien.Company" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Lien.CreatedDate" class="control-label"></label>
                    <input asp-for="Lien.CreatedDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Lien.Amount" class="control-label"></label>
                    <input asp-for="Lien.Amount" class="form-control" />
                </div>
                <div class="form-group">
                    <select asp-for="Lien.LienType" asp-items="@Model.LienTypes">
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
@*https://docs.microsoft.com/en-us/learn/modules/create-razor-pages-aspnet-core/6-handle-interactions-with-pagemodel-methods*@
